@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fcff;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-3%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-float {
  animation: bounce 3s infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.scrollAnimation {
  animation: scroll 5s linear infinite;
}

.bg-positions {
  background-position: 50% 100%;
}
